vaccination-services/immunization-portal-service/src/main/resources/application_for_certificate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="application_for_certificate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personalId" type="xs:string"/>
                <xs:element name="date" type="xs:dateTime"/>
                <xs:element name="reason" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
