vaccination-services/immunization-portal-service/src/main/resources/vaccine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.immunization-portal.com/vaccine"
    xmlns="http://www.immunization-portal.com/vaccine">
    <xs:element name="vaccine">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name"/>
                <xs:element name="manufacturer"/>
            </xs:sequence>
            <xs:attribute name="id"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
